<!DOCTYPE html>
<html>
  <head>
    <title>Sackforce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.bdcLogoURL = "<%= image_url('bdc_logo.png') %>";
      window.linkedinLogoURL = "<%= image_url('linkedin_logo.png') %>";
      window.githubLogoURL = "<%= image_url('github_logo.png') %>";
      window.warningURL = "<%= image_url('warning_icon.png') %>";
      window.chattingURL = "<%= image_url('chatting.png') %>";
      window.appPhotoURL = "<%= image_url('temp_image.png') %>";

    </script>
    <script src="https://kit.fontawesome.com/ec9a940d62.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
